{% extends "document-helpers/_layouts/cpp.twig" %}

{% import "_includes/forms" as forms %}

{% set edition = craft.app.plugins.getPlugin('document-helpers').edition %}
{% if edition == 'plus' %}
    {% set isEnabledPlus = true %}
    {% set isDisabledPlus = false %}
{% else %}
    {% set isEnabledPlus = false %}
    {% set isDisabledPlus = true %}
{% endif %}

{% set title = 'PDF Generator' %}

{% set selectedTab = 'general' %}

{% set tabs = {
    general: {label: 'General'|t, url: '#general'},
    metadata: {label: 'Metadata'|t, url: "#metadata"},
    protect: {label: 'Protection'|t, url: "#protect" },
    asset: {label: 'Assets'|t, url: "#asset"},
    thumb: {label: 'Thumbnails'|t, url: "#thumb" },
    optional: {label: 'Optional functions'|t, url: '#optional'}
} %}
{% block content %}

	<div class="tab-contents">

		<div id="content-general" class="tab-content">
        						<h2>
				Edition
			</h2>
			<p>
				You have
				<strong>{{ craft.app.plugins.getPlugin('document-helpers').edition|upper }}</strong>
				plan active</p>

			<h2>Welcome! General Settings</h2>

			<p>The general settings section is optional in configuring your PDF Generator default values of plugin. Here, you can set default options for your generated PDFs.</p>

			<p>More about values which can you set is
				<a href="https://github.com/cooltronicpl/Craft-document-helpers#overriding-default-options">here</a>.</p>

			<p>You can override default value in the Twig functions individually for every variable in `pdfOptions`.</p>
			{{ forms.textField({
    label: "Header template" | t,
    id: 'header',
    name: 'header',
    instructions: " This is path of the header Twig template."|t,
    value: settings. header|default(null),
    errors: settings.getErrors('header')
}) }}

			{{ forms.textField({
    label: "Footer template" | t,
    id: 'footer',
    name: 'footer',
    instructions: " This is path of the footer Twig template."|t,
    value: settings. header|default(null),
    errors: settings.getErrors('footer')
}) }}
			{{ forms.textField({
    label: "Margin top" | t,
    id: 'margin_top',
    name: 'margin_top',
    instructions: "The top margin defaults to 30."|t,
    value: settings. margin_top|default(null),
    errors: settings.getErrors('margin_top')
}) }}
			{{ forms.textField({
    label: "Margin bottom" | t,
    id: 'margin_bottom',
    name: 'margin_bottom',
    instructions: "The bottom margin defaults to 30."|t,
    value: settings. margin_bottom|default(null),
    errors: settings.getErrors('margin_bottom')
}) }}

			{{ forms.textField({
    label: "Margin left" | t,
    id: 'margin_left',
    name: 'margin_left',
    instructions: "The left margin defaults to 15."|t,
    value: settings. margin_left|default(null),
    errors: settings.getErrors('margin_left')
}) }}
			{{ forms.textField({
    label: "Margin right" | t,
    id: 'margin_right',
    name: 'margin_right',
    instructions: "The right margin defaults to 15."|t,
    value: settings. margin_right|default(null),
    errors: settings.getErrors('margin_right')
}) }}
			{{ forms.textField({
    label: "Page numbers" | t,
    id: 'pageNumbers',
    name: 'pageNumbers',
    instructions: "This adds page numbers in the footer."|t,
    value: settings. pageNumbers|default(null),
    errors: settings.getErrors('pageNumbers')
}) }}

			{{ forms.textField({
    label: "Title" | t,
    id: 'title',
    name: 'title',
    instructions: "This replaces the default title of the generated PDF document."|t,
    value: settings. title|default(null),
    errors: settings.getErrors('title')
}) }}
			{{ forms.textField({
    label: "Encoding" | t,
    id: 'encoding',
    name: 'encoding',
    instructions: "This can be used to set encoding of input of your PDF."|t,
    value: settings. encoding|default(null),
    errors: settings.getErrors('encoding')
}) }}

			{{ forms.lightswitchField({
    label: "No automatic page break" | t,
    id: 'no_auto_page_break',
    name: 'no_auto_page_break',
    instructions: "This disables automatic system page breaks. This can be useful if you need to manually add page breaks. For example, you can add a custom page to documents with more than one page break using <pagebreak>. This may fix page break issues in some cases, but not all." | t,
    on: settings.no_auto_page_break,

}) }}
			{{ forms.textField({
    label: "Temporary directory" | t,
    id: 'tempDir',
    name: 'tempDir',
    instructions: "This sets the path to the temporary directory used for generating PDFs. We have tested this with the main /tmp directory on the server with success. This could potentially improve performance when generating multiple PDFs."|t,
    value: settings. tempDir|default(null),
    errors: settings.getErrors('tempDir')
}) }}
			{{ forms.lightswitchField({
    label: "Mirror margins" | t,
    id: 'mirrorMargins',
    name: 'mirrorMargins',
    instructions: "Whether to use different margins for odd and even pages." | t,
    on: settings.mirrorMargins,

}) }}
			{{ forms.lightswitchField({
    label: "Landscape" | t,
    id: 'landscape',
    name: 'landscape',
    instructions: " If this is set, the PDF will be generated in landscape mode." | t,
    on: settings.landscape,

}) }}
			{{ forms.lightswitchField({
    label: "Portrait" | t,
    id: 'portrait',
    name: 'portrait',
    instructions: "If this is set, the PDF will be generated in portrait mode." | t,
    on: settings.portrait,
}) }}
			{{ forms.textField({
    label: "Format" | t,
    id: 'format',
    name: 'format',
    instructions: "This sets the paper size for the PDF. The default is A4, but you can set other sizes compatible with MPDF. Other popular formats include: A3, A4 (default), A5, Letter (8,5 x 11 in), Legal (8,5 x 14 in), Executive (7,25 x 10,5 in), B4, B5"|t,
    value: settings. format|default(null),
    errors: settings.getErrors('format')
}) }}
			{{ forms.textField({
    label: "Start page" | t,
    id: 'startPage',
    name: 'startPage',
    instructions: "The first page of the PDF to be generated. You can use this option to trim unnecessary pages from the beginning of the PDF. For example `2` will skip the first page of the PDF."|t,
    value: settings. startPage|default(null),
    errors: settings.getErrors('startPage')
}) }}
			{{ forms.textField({
    label: "End page" | t,
    id: 'endPage',
    name: 'endPage',
    instructions: "The last page of the PDF to be generated. You can use this option to trim unnecessary pages from the end of the PDF. For example, `10` will generate a PDF with only 10 pages."|t,
    value: settings. watermarkText|default(null),
    errors: settings.getErrors('endPage')
}) }}
			{{ forms.textField({
    label: "Watermark image" | t,
    id: 'watermarkImage',
    name: 'watermarkImage',
    instructions: "This option creates a watermark using the image file specified by the provided path."|t,
    value: settings. watermarkImage|default(null),
    errors: settings.getErrors('watermarkImage')
}) }}
			{{ forms.textField({
    label: "Watermark text" | t,
    id: 'watermarkText',
    name: 'watermarkText',
    instructions: "This option creates a watermark using the text provided."|t,
    value: settings. watermarkText|default(null),
    errors: settings.getErrors('watermarkText')
}) }}
			{{ forms.lightswitchField({
    label: "Automatic Table of Contents" | t,
    id: 'autoToC',
    name: 'autoToC',
    instructions: "This option automatically generates a Table of Contents using the H1-H6 tags in your document."|t,
    on: settings.autoToC,
}) }}
			{{ forms.lightswitchField({
    label: "Automatic bookmarks" | t,
    id: 'autoBookmarks',
    name: 'autoBookmarks',
    instructions: "This option automatically generates bookmarks using the H1-H6 tags in your document."|t,
    on: settings.autoBookmarks,
}) }}
			{{ forms.lightswitchField({
    label: "Provided URL Rendering Attributees" | t,
    id: 'URLTwigRender',
    name: 'URLTwigRender',
    on: settings.URLTwigRender,
    instructions: "If this is set it enables external URL rendering of `template`, `header` or `footer` of variables like `{{custom}}` or `{{qrimg}}` in external template." | t,
}) }}
		</div>
		<div id="content-metadata" class="tab-content">
			{{ forms.textField({
    label: "Author" | t,
    id: 'author',
    name: 'author',
    instructions: "This sets the author metadata. It should be provided as a string."|t,
    value: settings. author|default(null),
    errors: settings.getErrors('author')
}) }}
			{{ forms.textField({
    label: "Keywords" | t,
    id: 'keywords',
    name: 'keywords',
    instructions: "This sets the keyword metadata. It should be provided as a string in the following format: `keyword1, longer keyword2, keyword3`."|t,
    value: settings. keywords|default(null),
    errors: settings.getErrors('keywords')
}) }}
			{{ forms.lightswitchField({
    label: "Disable Copyright (Plus)" | t,
    id: 'disableCopyright',
    name: 'disableCopyright',
    instructions: "This option disables copyrights."|t,
    on: settings.disableCopyright,
    disabled: isDisabledPlus

}) }}
		</div>
		<div id="content-asset" class="tab-content">
			{{ forms.textField({
    label: "Asset title" | t,
    id: 'assetTitle',
    name: 'assetTitle',
    instructions: "This option allows you to set a custom title for the Asset in the Craft CMS system when using the `pdfAsset` method."|t,
    value: settings. assetTitle|default(null),
    errors: settings.getErrors('assetTitle')
}) }}
			{{ forms.textField({
    label: "Asset filename" | t,
    id: 'assetFilename',
    name: 'assetFilename',
    instructions: "This option allows you to change the target filename of the file in the Craft CMS Asset when using the `pdfAsset` method."|t,
    value: settings. assetFilename|default(null),
    errors: settings.getErrors('assetFilename') 
}) }}
			{{ forms.lightswitchField({
    label: "Asset delete" | t,
    id: 'assetDelete',
    name: 'assetDelete',
    on: settings.assetDelete,
    instructions: "If this set it enables the deletion of the internally generated file in the `@root` path. Please note that this operation is irreversible and may consume more resources. This is because the Asset is updated and the PDF is generated on every load when using the `pdfAsset` method." | t,
}) }}
			{{ forms.textField({
    label: "assetSiteId" | t,
    id: 'assetSiteId',
    name: 'assetSiteId',
    instructions: "This option allows you to assign a custom `siteId` to the Asset of `pdfAsset` method. The `siteId` should be passed as a number, representing the ID of the site to which the generated asset should belong."|t,
    value: settings. assetSiteId|default(null),
    errors: settings.getErrors('assetSiteId')
}) }}

		</div>
		<div id="content-thumb" class="tab-content">

			<h2>Thumbanils with configured ImageMagick</h2>

			<p>It requires ImageMagick properly configured on your server (host)
				<a href="https://github.com/cooltronicpl/Craft-document-helpers#what-if-i-cannot-generate-thumbnails-with-enabled-imagemagick">more about it</a>.</p>

			{{ forms.lightswitchField({
    label: "Asset thumb" | t,
    id: 'assetThumb',
    name: 'assetThumb',
    on: settings.assetThumb,
    instructions: "If this set it generates a thumbnail image of a Craft CMS image Asset using the `pdfAsset` method (requires ImageMagick). It can be accessed in the Twig template as `asset.assetThumb`." | t,
}) }}
			{{ forms.textField({
    label: "Asset thumb volume handle" | t,
    id: 'assetThumbVolumeHandle',
    name: 'assetThumbVolumeHandle',
    instructions: "This is an optional parameter that specifies the Volume Handle for the thumbnail. If not provided, the PDF Volume Handle is used. The volume handle must have a `Base URL` in your test: `@web\pdffiles` in Craft CMS Filesystems, Assets settings."|t,
    value: settings. assetThumbVolumeHandle|default(null),
    errors: settings.getErrors('assetThumbVolumeHandle')
}) }}
			{{ forms.lightswitchField({
    label: "Asset dumb thumb" | t,
    id: 'dumbThumb',
    name: 'dumbThumb',
    on: settings.dumbThumb,
    instructions: "This option generates a basic thumbnail image (without an Asset) using the `pdf` method (requires ImageMagick)."|t,
}) }}


			<p>
				Both `assetThumb` and `dumbThumb` support the following optional customizations:
			</p>

			{{ forms.textField({
    label: "Thumb type" | t,
    id: 'thumbType',
    name: 'thumbType',
    instructions: "This parameter allows you to choose the format of the thumbnail. Options include `jpg`, `gif`, `webp`, `avif`, and `png`. The default format is `jpg`."|t,
    value: settings. thumbType|default(null),
    errors: settings.getErrors('thumbType')
}) }}
			{{ forms.textField({
    label: "Thumb width" | t,
    id: 'thumbWidth',
    name: 'thumbWidth',
    instructions: "This parameter specifies the width of the thumbnail in pixels. The default width is `210`."|t,
    value: settings. thumbWidth|default(null),
    errors: settings.getErrors('thumbWidth')
}) }}
			{{ forms.textField({
    label: "Thumb height" | t,
    id: 'thumbHeight',
    name: 'thumbHeight',
    instructions: "This parameter specifies the height of the thumbnail in pixels. The default height is `297`."|t,
    value: settings. thumbHeight|default(null),
    errors: settings.getErrors('thumbHeight')
}) }}
			{{ forms.textField({
    label: "Thumb page" | t,
    id: 'thumbPage',
    name: 'thumbPage',
    instructions: "This parameter specifies the page to generate the thumbnail from. The default is the first page, which is numbered from `0`."|t,
    value: settings. thumbPage|default(null),
    errors: settings.getErrors('thumbPage')
}) }}
	{{ forms.lightswitchField({
    label: "Thumb Best Fit" | t,
    id: 'thumbBestfit',
    name: 'thumbBestfit',
    instructions: "This boolean value that determines whether to fit the image within the given dimensions or not. If on, the image will be scaled down so that it fits within the given dimensions. If off, the image will be stretched or cropped to fill the given dimensions." | t,
    on: settings.thumbBestfit,
}) }}
			{{ forms.textField({
    label: "Thumb background color" | t,
    id: 'thumbBgColor',
    name: 'thumbBgColor',
    instructions: "This parameter specifies the background color of the thumbnail. Options include `black`, `rgb(33,66,99)`, and `#123456`. The default color is `white`."|t,
    value: settings. thumbBgColor|default(null),
    errors: settings.getErrors('thumbBgColor')
}) }}
			{{ forms.textField({
    label: "Thumb trim" | t,
    id: 'thumbTrim',
    name: 'thumbTrim',
    instructions: "This parameter, when set to `true`, trims your page and centers the content. The default value is `false`."|t,
    value: settings. thumbTrim|default(null),
    errors: settings.getErrors('thumbTrim')
}) }}
			{{ forms.textField({
    label: "Thumb trim frame color" | t,
    id: 'thumbTrimFrameColor',
    name: 'thumbTrimFrameColor',
    instructions: "This parameter changes the color of the trim frame. Colors can be specified as `black` or in RGB format (e.g., `rgb(12,1,2)`) or in HEX format (e.g., `#662266`)."|t,
    value: settings. thumbTrimFrameColor|default(null),
    errors: settings.getErrors('thumbTrimFrameColor')
}) }}
		</div>
		<div id="content-protect" class="tab-content">

			{{ forms.textField({
    label: "Password" | t,
    id: 'password',
    name: 'password',
    instructions: "You can set a password that will be required to open or modify the PDF file."|t,
    value: settings. password|default(null),
    errors: settings.getErrors('password')
}) }}

			{{ forms.lightswitchField({
    label: "Protection mode (Plus)" | t,
    id: 'protection',
    name: 'protection',
    instructions: "You can enable the protection mode to restrict the actions that can be performed on the PDF file."|t,
    on: settings.protection,
    disabled: isDisabledPlus

}) }}
			<p>The protection mode allows you to choose from the following values to make the PDF file compatible with ISO or DIN standards:</p>

			{{ forms.lightswitchField({
    label: "Allow copy (Plus)" | t,
    id: 'protectionCopy',
    name: 'protectionCopy',
    instructions: "This option allows the user to copy text and graphics from the PDF file." | t,
    on: settings.protectionCopy,
    disabled: isDisabledPlus
}) }}
			{{ forms.lightswitchField({
    label: "Allow print (Plus)" | t,
    id: 'protectionPrint',
    name: 'protectionPrint',
    instructions: "This option allows the user to print the PDF file in low resolution." | t,
    on: settings.protectionPrint,
    disabled: isDisabledPlus
}) }}
			{{ forms.lightswitchField({
    label: "Allow print in highres (Plus)" | t,
    id: 'protectionPrintHighres',
    name: 'protectionPrintHighres',
    instructions: "This option allows the user to print the PDF file in high resolution." | t,
    on: settings.protectionPrintHighres,
    disabled: isDisabledPlus

}) }}
			{{ forms.lightswitchField({
    label: "Allow modify contents (Plus)" | t,
    id: 'protectionModify',
    name: 'protectionModify',
    instructions: "This option allows the user to modify the contents of the PDF file." | t,
    on: settings.protectionModify,
    disabled: isDisabledPlus

}) }}
			{{ forms.lightswitchField({
    label: "Allow annotations and forms fields (Plus)" | t,
    id: 'protectionAnnotForms',
    name: 'protectionAnnotForms',
    instructions: "This option allows the user to add annotations and form fields to the PDF file." | t,
    on: settings.protectionAnnotForms,
    disabled: isDisabledPlus

}) }}
			{{ forms.lightswitchField({
    label: "Allow extracting content (Plus)" | t,
    id: 'protectionExtract',
    name: 'protectionExtract',
    instructions: "This option allows the user to extract text and graphics from the PDF file." | t,
    on: settings.protectionExtract,
    disabled: isDisabledPlus

}) }}
			{{ forms.lightswitchField({
    label: "Allow assemble - combining pages (Plus)" | t,
    id: 'protectionAssemble',
    name: 'protectionAssemble',
    instructions: "This option allows the user to combine pages and documents in the PDF file." | t,
    on: settings.protectionAssemble,
    disabled: isDisabledPlus

}) }}
			{{ forms.lightswitchField({
    label: "Allow fill forms (Plus)" | t,
    id: 'protectionFillForms',
    name: 'protectionFillForms',
    instructions: "This option allows the user to fill in existing form fields in the PDF file." | t,
    on: settings.protectionFillForms,
    disabled: isDisabledPlus

}) }}
			{{ forms.lightswitchField({
    label: "Enable user reading without provided password (Plus)" | t,
    id: 'protectionNoUserPassword',
    name: 'protectionNoUserPassword',
    instructions: "This option allows the user to open the PDF file without a password." | t,
    on: settings.protectionNoUserPassword,
    disabled: isDisabledPlus

}) }}
		</div>
		<div id="content-optional" class="tab-content">
			<h2>
				Install optional packages
			</h2>
			<p>
				The optional packages are additional features that you can enable or disable in the plugin settings. They provide more functionality and customization for the PDF generation process. The optional packages are:
			</p>
			<p>
				<a hrf="https://github.com/chillerlan/php-qrcode">chillerlan/php-qrcode</a>
				for QR Code generation</p>
{% set craftVersion = craft.app.getVersion() %}

{% if craftVersion starts with '3.' %}
  {% set qrVersion = '3.4' %}
{% elseif craftVersion starts with '4.' %}
  {% set qrVersion = '4.3' %}
{% endif %}

<a href="{{ actionUrl('document-helpers/install/install-package', { package: 'chillerlan/php-qrcode' , version: qrVersion }) }}" class="btn btngroup-btn-first">Install package for QR Code generation</a>

			{{forms.textField({
    label: "QR Data to generate" | t,
    id: 'qrdata',
    name: 'qrdata'|default(null),
    instructions: "This option allows you to generate a QR Code image from any data you provide. The image will be available on the Twig template with `{{qrimg}}` variable. Required optional package from plugin settings."|t,
    value: settings.qrdata|default(null),
    errors: settings.getErrors('qrdata')
}) }}
			<p>
				<a href="https://github.com/ezyang/htmlpurifier">ezyang/htmlpurifier</a>
				for HTML (URL) purifier for problems with scraped websites on some URLs.</p>
{% if craftVersion starts with '3.' %}
  {% set purifierVersion = '4.13' %}
{% elseif craftVersion starts with '4.' %}
  {% set purifierVersion = '4.17' %}
{% endif %}
			<a href="{{ actionUrl('document-helpers/install/install-package', { package: 'ezyang/htmlpurifier' , version: purifierVersion}) }}" class="btn btngroup-btn-first">Install package for scraped URL HTML purify</a>
			{{ forms.lightswitchField({
    label: "Provided URL (HTML) Purfiy" | t,
    id: 'URLPurify',
    name: 'URLPurify',
    on: settings.URLPurify,
    instructions: "If this is set it enables external URL Purification by external library." | t,
}) }}
			{{forms.textField({
    label: "Custom PHP Path" | t,
    id: 'phpPath',
    name: 'phpPath',
    instructions: "This option allows you to set custom php binary path or name like '\/usr\/bin\/php' or 'php', or 'php8.0' which can resolve problem with not installable packages during to problems php path or misconfiguration."|t,
    value: settings.phpPath|default(null),
    errors: settings.getErrors('phpPath')
}) }}
		</div>
	</div>
{% endblock %}
{% html at head %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% endhtml %}
	{% js at endBody %}
$(document).ready(function () {
$('.tab-content').hide();

$('.tab-content:first').show();

$('.scrollable a').click(function () {

var tabId = $(this).attr('id').replace('settings-tab-', '');
$('.tab-content').hide();

$('#settings-content-' + tabId).show();
$('.sel').removeClass('sel');
$(this).addClass('sel');
});
});
var fields = [
"protection",
"protectionCopy",
"protectionPrint",
"protectionModify",
"protectionAnnotForms",
"protectionExtract",
"protectionAssemble",
"protectionFillForms",
"protectionPrintHighres",
"protectionNoUserPassword",
"disableCopyright"
];
if ({{isDisabledPlus}}==true) {
for (var field of fields) {
var lightswitchField = document.getElementById("settings-"+field);
lightswitchField.disabled = true;
lightswitchField.classList.remove("on");
var lightswitchFieldContainer = document.getElementById("settings-"+field+"-field");
lightswitchFieldContainer.classList.add("disabled");
}
}
{% endjs %}
